.form-lista-suspensa {
  background-color: transparent;
  color: #ffffff;
  font-size: 16px;
  line-height: 120%;
  font-weight: 400;
  padding: 8px 16px;
  border-radius: 8px;
  border: 1px solid #4a4949;
}

.form-lista-suspensa option {
  background-color: #212121;
  color: #ffffff;
}
